/*
* @Author: zhengwei
* @Date:   2016-08-29 09:25:18
* @Last Modified by:   zhengwei
* @Last Modified time: 2016-09-01 11:31:46
*/

body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #666;
    /*a标签的点击高亮 只在移动端有 tap指的是移动端的点击（轻触） */
    -webkit-tap-highlight-color: transparent;
}

img {
    vertical-align: middle;
}

input {
    border: 0;
    outline: none;
}

ul {
    list-style: none;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

.width-50 {
    width: 50%;
}

.width-33 {
    width: 33.33%;
}

.border-left {
    border-left: 1px solid #ccc;
}

.border-right {
    border-right: 1px solid #ccc;
}

.border-top {
    border-top: 1px solid #ccc;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

[class^="icon-"] {
    background-image: url(../images/sprites.png);
    background-size: 200px 200px;
}

#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #fff;
}
#footer > ul{
    width: 100%;
}
#footer > ul > li{
    width: 25%;
    text-align: center;
    float: left;
}
#footer > ul > li > a{
    display: inline-block;
}
#footer > ul > li > a > img{
    width: 60px;
}